* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fafafa;
    font-style: normal;
}

button:hover {
    filter: brightness(.90);
}

main {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-icon {
    width: 30px;
    height: 30px;
    color: #fafafa;
    cursor: pointer;
    box-shadow: 3px 3px 10px 0 rgb(0 0 0 / 30%);
    border-radius: 50%;
    background-color: #EC362D;
}

ion-icon:hover {
    filter: brightness(1.50);
}

/*Tela 1 - 1 e 2*/
header {
    width: 100%;
    height: 70px;
    top: 0;
    position: fixed;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

header>h1 {
    color: white;
    font-weight: 700;
    font-size: 46px;
    cursor: pointer;
    font-family: 'Roboto'
}

.tela1_container {
    width: 1050px;
    min-width: 768px;
}

.criarQuizz {
    width: 100%;
    min-width: 768px;
    height: 180px;
    border: 1px dashed #D5D5D5;
    margin: 8% 0;
    border-radius: 5px;
    padding: 34px 0px 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.criarQuizz_txt {
    width: 210px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #B9B9B9;
}

.criarQuizz button {
    width: 150px;
    height: 40px;
    border: 2px dashed #EC362D;
    border-radius: 100px;
    background-color: #fafafa;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    color: #EC362D;
}

.seusQuizzes {
    margin: 66px 0 48px;
    position: relative;
}

.seusQuizzes_Titulo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.seusQuizzes_Titulo>h2 {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.seusQuizzes_Titulo>ion-icon {
    margin-left: 18px;
}

.seusQuizzes_Quizzes {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    overflow-x: scroll;
    position: relative;
    -ms-overflow-style: none;
    /* Esconder scroll-bar IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.seusQuizzes_Quizzes::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.seusQuizzes_Quizzes>.todosQuizzes_quizes {
    height: 100%;
    width: 340px;
}

.seusQuizzes_Quizzes>.todosQuizzes_quizes>img {
    width: 340px;
}

.seusQuizzes>ion-icon {
    position: absolute;
    top: 110px;
    right: 2%;
}


.todosQuizzes_container>h2 {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-bottom: 12px;
}

.todosQuizzes {
    width: 100%;
    height: 374px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.todosQuizzes_quizes {
    width: 32.38%;
    height: 48.39%;
    position: relative;
    cursor: pointer;
    display: flex;
}

.todosQuizzes_quizes>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.degrade {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 70%, #000000 100%);
    border-radius: 5px;
    position: absolute;
    display: flex;
    align-items: flex-end;
}

.degrade:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%, #000000 100%);
    ;
}

.degrade>h3 {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 18px 16px 18px;
    word-break: break-word;
    max-height: 40px;
    max-width: 318px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*Tela 3*/
.tela8 {
    margin-top: 71px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 23px;
}

.tela8 input {
    padding: 13px 23px 11px;
    height: 46px;
    width: 564px;
    border-radius: 5px;
    margin-bottom: 9px;
    border: 1px solid #D1D1D1;
}

.tela8 input::placeholder {
    font-weight: 400;
    font-size: 19px;
    font-style: italic;
    color: #BABABA;
}

.tela8 button {
    border: none;
    color: #FFF5F4;
    margin-top: 85px;
    background-color: #EC362D;
    width: 369px;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    height: 54px;
}

.informacoesTela8 {
    width: 600px;
    height: 256px;
    padding: 21px 20px 15px 16px;
    margin-top: 27px;
    background-color: white;
}

.tela9 {
    margin-top: 71px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 23px;
}

.tela9 input {
    padding: 13px 23px 11px;
    height: 46px;
    width: 564px;
    border-radius: 5px;
    margin-bottom: 14px;
    border: 1px solid #D1D1D1;
}

.tela9 input::placeholder {
    font-weight: 400;
    font-size: 19px;
    font-style: italic;
    color: #BABABA;
}

.tela9 button {
    border: none;
    color: #FFF5F4;
    margin-top: 85px;
    background-color: #EC362D;
    width: 369px;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    height: 54px;
    margin-bottom: 10px;
}

.perguntas:first-child {
    margin-top: 36px;
}

.fechada {
    height: 74px;
    width: 600px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    padding: 0 24px 0 17px;
}

.aberta {
    height: 825px;
    width: 600px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #0000000D;
    padding: 13px 20px 27px 16px;
    margin-bottom: 24px;
}

.iniciodaPergunta {
    display: flex;
    flex-direction: column;
}

.respostasIncorretas {
    display: flex;
    flex-direction: column;
}

.aberta span {
    font-size: 20px;
    margin: 14px 0;
}

.iniciodaPergunta span:nth-child(4) {
    margin-top: 24px;
}

.respostasIncorretas input:nth-child(odd) {
    margin-bottom: 34px;
}

.hidden {
    display: none;
}

/* Tablets */
@media screen and (min-width: 426px) and (max-width: 767px) {
    .tela1_container {
        max-width: 767px;
        min-width: 100%;
        height: 2000px;
        padding: 0 18px;
    }

    .criarQuizz {
        max-width: 731px;
        /*767-(2*18)*/
        min-width: 340px;
        margin: 7.6% 0;
    }

    .todosQuizzes {
        height: 568px;
    }

    .todosQuizzes_quizes {
        width: 49%;
        height: 31.69%;
    }

    .todosQuizzes_container>h2 {
        margin-bottom: 14px;
    }
}

/*Smartphone*/
@media screen and (max-width: 425px) {
    .tela1_container {
        max-width: 767px;
        min-width: 100%;
        padding: 0 18px;
        margin-bottom: 50px;
    }

    .criarQuizz {
        max-width: 425px;
        /*767-(2*18)*/
        min-width: 340px;
        margin: 7.6% 0;
    }

    .todosQuizzes {
        height: 1155px;
    }

    .todosQuizzes_quizes {
        width: 100%;
        height: 15.58%;
    }

    .todosQuizzes_container>h2 {
        margin-bottom: 14px;
    }
}